{% extends "layout.html" %}
{% block title %} Add answer {% endblock %}
{% block main %}
    <header>
        <div style="text-align: center; margin-bottom: 20px; font-weight: 700;">

            {% if answer %}
                <span style="font-size: 60px;">Update answer</span>
            {% else %}
                <span style="font-size: 60px;">Add answer</span>
            {% endif %}


        </div>
    </header>
    <div class="div_with_text_input">
        <form action="{{ form_url }}" method="post" class="add_question_form">
            <section>
                <div class="div_with_text_input">
                    <label>Content: <br /><textarea name="message" class="text_input" cols="10" rows="5" placeholder="Question message goes here" required minlength="5">{% if answer %}{{answer['message']}} {% endif %}</textarea></label>
                </div>
            </section>

            <section>
                <div class="div_with_text_input">
                    <label>Image: <br /><input type="url" name="image" class="text_input" placeholder="URL address goes here" value="{% if answer %}{{ answer['image']}} {% endif %}"/></label>
                </div>
            </section>
                <div style="text-align: center;">
                    <input type="submit" value="{% if answer %} Update Answer {% else %} Add Answer{% endif %}" id="submit_button" />
                </div>
        </form>
    </div>
{% endblock %}